* {
    margin: 0;
    padding: 0;
}

$basecolor: #39557C;
$fontfamily: 'Open Sans', sans-serif;

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.inputGroup {
    width:calc(100% - 40px);
    padding: 15px 20px;

    > h3 {
        font-size: 1.2em;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 5px;
    }

    > input {
        width: 100%;
        padding: 5px 0;
        font-size: 1em;
        font-family: 'Open Sans', sans-serif;
        border:none;
        border-bottom: solid 2px #ccc;

        &:focus {
            border-bottom-color: #39557C;
        }
    }
}

.loading {
    width: 64px;
    height:64px;
    margin: 20px auto;
    border-radius: 50%;
    border: solid 2px #ccc;
    border-right-color: transparent;
    border-left-color: transparent;

    animation: rotate 0.8s ease-in-out 0s infinite normal forwards;
}

@import 'common.header';
@import 'common.dialogs';
// Universal style for every section
@import 'common.section';
@import 'common.form';
