#header {
    position: relative;
    width:100%;
    height:46px;
    background: #39557C;
    display: flex;
    z-index: 100;

    > div {
        flex: 1 1;

        > h1 {
            font-size: 1.2em;
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            text-indent: 15px;
            line-height: 46px;
        }
    }
}
        #header-language {
            padding: 0 20px;
            max-width:100px;
            height:100%;
            display: flex;
            justify-content: center;
            align-items: center;
            float: right;
        }
            #header-language-isPolish {
                display: none;

                &:checked ~ label > div {
                    left: calc(50% + 2px);
                }
            }
            #header-language-content {
                position: relative;
                width: 80px;
                height: 30px;
                background: rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                display: flex;

                > span {
                    flex: 1 1;
                    text-align:center;
                    height:100%;
                    line-height: 30px;
                    color: #fff;
                    font-size: 0.9em;
                    font-family: 'Open Sans', sans-serif;
                }

                > div {
                    position: absolute;
                    top:2px;
                    left:2px;
                    width:calc(50% - 20px - 4px);
                    height:calc(100% - 14px - 4px);
                    padding: 7px 10px;
                    border-radius: 5px;
                    background: #eee;
                    transition: left 0.3s;

                    > div {
                        width: 1px;
                        height:100%;
                        background: #ccc;
                        float: left;
                        margin-right: 5px;
                        
                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }
            }


        #header-user {
            position: relative;
            padding: 0 20px;
            max-width:300px;
            height:100%;
            cursor: default;
            white-space: nowrap;
            display: block;
            float: right;

            &:hover > #header-userActions {
                transform: translateY(0px);
                visibility: visible;
                opacity: 1;
            }
        }
            #header-user-container {
                display: flex;
                height:100%;
                align-items: center;
            }
                #header-user-letter {
                    width:24px;
                    height:24px;
                    line-height: 24px;
                    font-size: 1em;
                    color: #fff;
                    font-family: 'Open Sans', sans-serif;
                    text-transform: capitalize;
                    text-align:center;
                    border-radius: 50%;
                    border:solid 2px #304869;
                    background: #39557C;
                    display: block;
                    float: left;
                }
                #header-user-label {
                    max-width:calc(100% - 24px - 12px);
                    font-size: 1em;
                    color: #fff;
                    font-family: 'Open Sans', sans-serif;
                    margin-left: 12px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    display: inline-block;
                }

            #header-userActions {
                position: absolute;
                top:46px;
                right:0;
                background: #fff;
                box-shadow: 0px 2px 5px #ccc;
                opacity: 0;
                visibility: hidden;
                transition: opacity 0.2s;
            }
                .header-userActions-action {
                    padding: 5px 40px;
                    height:42px;
                    display: flex;
                    align-items: center;
                    user-select: none;
                    cursor: pointer;

                    > img {
                        flex: 0 0 20px;
                        height:20px;
                    }

                    > span {
                        margin-left: 6px;
                        font-size: 1em;
                        font-family: 'Open Sans', sans-serif;
                    }

                    &:hover {
                        background: #f3f3f3;
                    }

                    &:active {
                        background: #e3e3e3;
                    }
                }
