#panel {
    width:100%;
    height: calc(100% - 46px);
    display: block;

    > div {
        width: calc(100% - 20px);
        max-width: 1200px;
        margin: 20px auto;
        display: flex;
    }
}
        .panel-col {
            flex: 1 1;
            padding: 15px;
            box-shadow: 0 0 5px 1px #ccc;

            &:nth-of-type(2) {
                margin: 0 10px;
            }

            > h3 {
                font-size: 1.4em;
                font-family: 'Open Sans', sans-serif;
                text-align: center;

                &:after {
                    content: '';
                    width:30px;
                    height:2px;
                    background: #39557C;
                    margin: 10px auto 15px auto;
                    display: block;
                }
            }

            > div {
                width:100%;
                margin: 10px 0;
                text-align: center;
            }
        }
                .panel-btn {
                    width:100%;
                    margin-bottom: 10px;
                    
                    & > button {
                        text-align: center;
                        margin:0 auto;
                        padding: 7px 20px;
                        font-size: 0.9em;
                        font-family: 'Open Sans', sans-serif;
                        background: transparent;
                        border-radius: 10px;
                        border:solid 2px #39557C;
                        color: #39557C;
                        cursor: pointer;
                        transition: background 0.3s, color 0.3s, transform 0.3s;
                    
                        &:hover {
                            background: #39557C;
                            color: #fff;
                        }

                        &:active {
                            transform: scale(0.95);
                        }
                    }
                }