#export-content {
  width: calc(100%);
  max-width: 500px;
  margin: 0 auto;
  height: 300px;

  > div {
    width: calc(100%);
    padding: 8px 8px;
    border-radius: 15px;
    background: none;
    color: #fff;
    display: inline-block;
    margin-top: 20px;
    font-size: 0.9em;
    font-family: "Open Sans", sans-serif;
  }
  button {
    background-color: #39557c;
    border: 1px solid navy;
    border-radius: 15px;
    color: white;
    width:calc(100%);
    margin-top : 5px;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-family: "Open Sans", sans-serif;
  }
  button:hover{
    background-color: navy;
  }
}
